<div ng-controller="UMBcookies" ng-model="model">
    <div class="umb-property">
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Banner Header <small style="padding-top: 0px">The main Text that gets displayed on the header</small>
                </label>
                <div class="umb-property-editor" model="property">
                    <input type="text" name="textbox" ng-model="model.value.message" id="bannerHeader" class="umb-editor umb-textstring textstring">
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Dismiss Button <small style="padding-top: 0px">The Text that gets displayed on the dismiss Button</small>
                </label>
                <div class="umb-property-editor" model="property">
                    <input type="text" name="textbox" ng-model="model.value.dismiss" id="bannerHeader" class="umb-editor umb-textstring textstring">
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Policy Text <small style="padding-top: 0px">The Text that is the Link to your Policy page</small>
                </label>
                <div class="umb-property-editor" model="property">
                    <input type="text" name="textbox" ng-model="model.value.policy" id="bannerHeader" class="umb-editor umb-textstring textstring">
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Policy Link <small style="padding-top: 0px">The Link to your Policy page</small>
                </label>
                <div class="umb-property-editor" model="property">
                    <input type="url" name="textbox" ng-model="model.value.link" id="bannerHeader" class="umb-editor umb-textstring textstring">
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-togg
                          le-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Position <small style="padding-top: 0px">The Position of your Banner</small>
                </label>
                <form>
                    <fieldset>
                        <input ng-model="model.value.position" type="radio" id="bb" name="Position" value="Banner bottom">
                        <label for="bb"> Banner bottom<small style="padding-top: 0px">The popup gets displayed on the bottom of your page</small></label><br>
                        <input ng-model="model.value.position" type="radio" id="bt" name="Position" value="Banner top">
                        <label for="bt"> Banner top<small style="padding-top: 0px">The popup gets displayed on the top of your page</small></label><br>
                        <input ng-model="model.value.position" type="radio" id="btp" name="Position" value="Banner top (pushdown)">
                        <label for="btp"> Banner top (pushdown)<small style="padding-top: 0px">The popup gets pushed down from the top of your page (you may need to change some CSS on your Header)</small></label><br />
                        <input ng-model="model.value.position" type="radio" id="fl" name="Position" value="Floating left">
                        <label for="fl"> Floating left<small style="padding-top: 0px">The popup gets displayed as a small window on the bottom left of your page</small></label><br />
                        <input ng-model="model.value.position" type="radio" id="fr" name="Position" value="Floating right">
                        <label for="fr"> Floating right<small style="padding-top: 0px">The popup gets displayed as a small window on the bottom right of your page</small></label>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Layout <small style="padding-top: 0px">The Layout/Look of your banner. Does mainly changes on your button</small>
                </label>
                <form>
                    <fieldset>
                        <input ng-model="model.value.layout" type="radio" id="bl" name="Layout" value="block">
                        <label for="bl"> block<small style="padding-top: 0px">The button has sharp edges</small></label><br>
                        <input ng-model="model.value.layout" type="radio" id="ed" name="Layout" value="edgeless">
                        <label for="ed"> edgeless<small style="padding-top: 0px">An edgeless button</small></label><br>
                        <input ng-model="model.value.layout" type="radio" id="cl" name="Layout" value="classic">
                        <label for="cl"> classic<small style="padding-top: 0px">A classic button with rounded edges</small></label> <br />
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Popup background Color
                </label>
                <div class="umb-property-editor" model="property">
                    <input ng-model="model.value.popupBackground" type="color" />
                    <input ng-model="model.value.popupBackground" type="text" class="form-control" cols="15"></input>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Popup Text Color
                </label>
                <div class="umb-property-editor" model="property">
                    <input ng-model="model.value.popupText" type="color" />
                    <input ng-model="model.value.popupText" type="text" class="form-control" cols="15"></input>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Button Background Color
                </label>
                <div class="umb-property-editor" model="property">
                    <input ng-model="model.value.buttonBackground" type="color" />
                    <input ng-model="model.value.buttonBackground" type="text" class="form-control" cols="15"></input>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label " for="bannerHeader" title="bannerHeader">
                    Button Text Color
                </label>
                <div class="umb-property-editor" model="property">
                    <input ng-model="model.value.buttonText" type="color" />
                    <input ng-model="model.value.buttonText" type="text" class="form-control" cols="15"></input>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer" style="display: none;"></span>
                    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required" style="display: none;"><localize key="general_required" class="ng-isolate-scope ng-scope">Required</localize></span>
                </div>
            </div>
        </div>
    </div>
</div>